/WebRoot/WEB-INF/classes
/.idea
target/
/.settings
/.externalToolBuilders
/.classpath
/.mymetadata
/.project
*.iml
/.msd-loan.iml
/.modules.xml
/.msd-member.iml
/.msd-payment.iml
/.gitignore
*.ipr
*.iws
/target/
/WEB-INF/
/classes/
/bin/
/target/
common/src/test/
service/src/test/
